<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1750128794-psh22otfn17a9c30gtpmghvmv4a82bt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1750128794-psh22otfn17a9c30gtpmghvmv4a82bt6</string>
	<key>API_KEY</key>
	<string>AIzaSyCCf5ySNp4R1_fo_a_AyqjVzzwhTM-bxgg</string>
	<key>GCM_SENDER_ID</key>
	<string>1750128794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wqmapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>trspe-bec09</string>
	<key>STORAGE_BUCKET</key>
	<string>trspe-bec09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1750128794:ios:afbcaa7846ac89f1cea723</string>
	<key>DATABASE_URL</key>
	<string>https://trspe-bec09-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>